.entire-content {
  padding: 30px 0;
  margin: 20px auto;
  max-width: 700px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Merienda";
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  color: #46494e;
}

body .container {
  padding: 0;
  max-width: 650px;
}

.search-bar {
  padding: 10px;
  text-align: center;
}

h3 {
  padding: 20px;
}

#search-bar {
  background-color: #e7e8f5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#search-button {
  background-color: #769fcd;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #46494e;
}

.additional-info {
  list-style-type: none;
  line-height: 30px;
  font-size: 12px;
  padding: 40px 0;
}

.icons {
  height: 20px;
  width: 20px;
  position: relative;
}

.searched-city {
  font-size: 30px;
  padding-top: 15px;
  margin-bottom: 8px;
}

#weather-description {
  font-size: 13px;
  text-transform: capitalize;
}

.weather-info {
  display: flex;
  align-items: center;
}

.real-feel {
  font-size: 11px;
  align-self: flex-end;
  margin-bottom: 20px;
}
#weather-icon {
  height: 80px;
  width: 80px;
}

#current-temp {
  font-weight: bold;
  font-size: 70px;
  padding: 0;
}

.temp-units {
  padding: 25px 0;
  text-align: center;
}

.temp-units a {
  text-decoration: none;
}

.temp-units .active {
  color: #46494e;
}

.last-update {
  padding-top: 0px;
  font-size: 13px;
}

.next-5-days {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.weather-forecast {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.project-info {
  text-align: center;
  color: dimgrey;
  font-family: "Merienda";
  font-size: 12px;
}
