.entire-content {
  padding: 30px 0;
  margin: 30px;
  max-width: 750px;
  border: 2px solid rgb(65, 65, 97);
  border-radius: 10px;
  font-family: "Merienda";
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
}

body .container {
  padding: 0;
  max-width: 600px;
}

h3 {
  padding-bottom: 15px;
}

.search-bar {
  padding: 10px;
  text-align: center;
}

#search-bar {
  background-color: #e7e8f5;
  border-radius: 10px;
}

#search-button {
  background-color: #769fcd;
  border-radius: 10px;
}

.additional-info {
  list-style-type: none;
  line-height: 30px;
  font-size: 12px;
  padding: 30px 0;
}

.searched-city {
  font-size: 30px;
  padding-top: 15px;
  margin-bottom: 8px;
}

#weather-description {
  font-size: 13px;
  text-transform: capitalize;
}

img {
  position: relative;
  bottom: 15px;
  height: 80px;
  width: 80px;
}

#current-temp {
  font-size: 60px;
  padding: 0;
}

.temp-units {
  padding: 25px 0;
  text-align: center;
}

.temp-units a {
  text-decoration: none;
}

.temp-units .active {
  color: rgb(65, 65, 97);
}

.last-update {
  padding-top: 0px;
  font-size: 13px;
}

.next-5-days {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
}
.weather-forecast {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(118, 118, 148);
}

.project-info {
  text-align: center;
  padding-top: 5px;
  color: dimgrey;
}
